/WhoIsThere-intellij_project/settings/connection.txt
/WhoIsThere-intellij_project/settings/departs.txt
/WhoIsThere-intellij_project/settings/doorsReaders.txt
/target/
/target/
/WhoIsThere-intellij_project/settings/
